@using UserManagement.Presantation.Models.ViewModels.EmployeeVM;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
@{
    var element = (ViewData["EmployeeVM"] as EmployeeMainVM);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Management</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/table.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="../js/googleChart.js"></script>
    <script src="../js/apiProcess.js"></script>

</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="right-bar">
                <div class="img-dimension user-photo">
                    <img class="img-dimension"
                         src="../images/trial.jpg"
                         alt="broken" />
                </div>
                <p>@element.Employee.FirstName @element.Employee.LastName</p>
                <div class="img-dimension user-options">
                    <img class="img-dimension"
                         src="../images/exit.png"
                         alt="broken"
                         onclick="alert()" />
                </div>
            </div>
            <div class="left-bar">
                <div class="weather">
                    <img id="weather-img" src="" alt="broken" />
                    <div class="APIinfo" style="display: inline"></div>
                </div>
            </div>
        </div>
        <div class="container-main">
            <div class="main-left">
                <div class="side-menu">
                    <div class="background-and-shadow side-menu-item-selected">
                        <div class="selected-box"></div>
                        <div class="item-img">
                            <img class="item-img-component"
                                 src="../images/default-avatar.png"
                                 alt="broken" />
                        </div>
                        <div class="item-font">
                            <p>Employees</p>
                        </div>
                    </div>
                    <form asp-controller="Department" asp-action="Department" method="get" onclick="submit()">
                    <div class="side-menu-item">
                        <div class="item-img">
                            <img class="item-img-component"
                                 src="../images/department.png"
                                 alt="broken" />
                        </div>
                        <div class="item-font">
                            <p>Departments</p>
                        </div>
                    </div>
                    </form>
                    <form asp-controller="Job" asp-action="Index" method="get" onclick="submit()">
                    <div class="side-menu-item">
                        <div class="item-img">
                            <img class="item-img-component"
                                 src="../images/work.png"
                                 alt="broken" />
                        </div>
                        <div class="item-font">
                            <p>Jobs</p>
                        </div>
                    </div>
                    </form>
                    <form asp-controller="Location" asp-action="Index" method="get" onclick="submit()">

                    <div class="side-menu-item">
                        <div class="item-img">
                            <img class="item-img-component"
                                 src="../images/earth.png"
                                 alt="broken" />
                        </div>
                        <div class="item-font">
                            <p>Locations</p>
                        </div>
                    </div>
                    </form> 
                </div>
            </div>
            <div class="main-middle">
                <div class="cards">
                    <div class="background-and-shadow card">
                        <div class="card-top">
                            <div class="card-info">
                                <p class="card-info-amount">@element.SameDepartment</p>
                            </div>
                            <div class="card-imgs">
                                <img class="card-img"
                                     src="../images/default-avatar.png"
                                     alt="broken" />
                            </div>
                        </div>

                        <div class="card-bottom">
                            <p class="card-info-text">Employees on same department</p>
                        </div>
                    </div>
                    <div class="background-and-shadow card">
                        <div class="card-top">
                            <div class="card-info">
                                <p class="card-info-amount">@element.DepartmentAmount</p>
                            </div>
                            <div class="card-imgs">
                                <img class="card-img"
                                     src="../images/department.png"
                                     alt="broken" />
                            </div>
                        </div>

                        <div class="card-bottom">
                            <p class="card-info-text">Department amount</p>
                        </div>
                    </div>
                    <div class="background-and-shadow card">
                        <div class="card-top">
                            <div class="card-info">
                                <p class="card-info-amount">@element.SameJob</p>
                            </div>
                            <div class="card-imgs">
                                <img class="card-img"
                                     src="../images/work.png"
                                     alt="broken" />
                            </div>
                        </div>

                        <div class="card-bottom">
                            <p class="card-info-text">Employees with same title</p>
                        </div>
                    </div>
                </div>
                <div class="background-and-shadow graph">
                    <div class="graph-text">
                        <p>Graph</p>
                    </div>


                    <div class="graph-content">
                        <div id="line_top_x"></div>
                    </div>
                </div>
            </div>
            <div class="main-right">
                <div class="background-and-shadow user-screen">
                    <img class="user-img" src="../images/trial.jpg" alt="" />

                    <div class="user-info">
                        <ul class="left">
                            <li>Name:</li>
                            <li>Surname:</li>
                            <li>E-mail:</li>
                            <li>Phone:</li>
                            <li>Job:</li>
                            <li>Salary:</li>
                            <li>Department:</li>
                        </ul>
                        <ul class="right">
                            <li>
                                @element.Employee.FirstName
                            </li>
                            <li>@element.Employee.LastName</li>
                            <li>@element.Employee.Email</li>
                            <li>@element.Employee.Phone</li>
                            <li>@element.JobName</li>
                            <li>@element.Employee.Salary</li>
                            <li>@element.DepartmentName</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-main-bottom">
            <div class="background-and-shadow the-table">
                <div>
                    <p style="display:inline; margin-right: 10px">Information</p>
                    <form asp-controller="Employee" asp-action="AddEmployee" method="get" style="display:inline">
                        <button class="button" style="width:80px; height:30px">Add</button>
                    </form>

                    <table id="personel-table" class="table table-sm">

                        <thead>
                            <tr>
                                <td>Employee</td>
                                <td>Email</td>
                                <td>Phone</td>
                                <td>Salary</td>
                                <td>Manager</td>
                                <td>Department</td>
                            </tr>
                        </thead>
                        <div class="table-contents">
                            @foreach (var tableElement in ViewData["EmployeeTableVM"] as List<EmployeeTableVM>)
                            {
                            <tr class="item">
                                <td>@tableElement.Employee.FirstName @tableElement.Employee.LastName</td>
                                <td>@tableElement.Employee.Email</td>
                                <td>@tableElement.Employee.Phone</td>
                                <td>@tableElement.Employee.Salary</td>
                                <td>@tableElement.ManagerName</td>
                                <td>@tableElement.DepartmentName</td>
                            </tr>
                            }
                    </table>
                </div>
                <div class="pagination">
                    <a href="#" class="prev">Prev</a>
                    <a href="#" class="page active" data-page="1">1</a>
                    <a href="#" class="page" data-page="2">2</a>
                    <a href="#" class="page" data-page="3">3</a>
                    <a href="#" class="page" data-page="4">4</a>
                    <a href="#" class="page" data-page="5">5</a>
                    <a href="#" class="next">Next</a>
                </div>
            </div>
            <!--<div class="table-content"></div>-->
        </div>
    </div>
    </div>
</body>

<script>
    /*  var itemsPerPage = 10;
      var currentPage = 1;
      var totalItems = $(".table-contents tr").length;
      var totalPages = Math.ceil(totalItems / itemsPerPage);

      function showPage(page) {
          var startIndex = (page - 1) * itemsPerPage;
          var endIndex = startIndex + itemsPerPage;

          $(".table-contents tr").hide();
          $(".table-contents tr").slice(startIndex, endIndex).show();
      }

      function updatePagination() {
          $(".pagination .page").remove();

          for (var i = 1; i <= totalPages; i++) {
              var pageLink = $("<a>").addClass("page").attr("href", "#").text(i);

              if (i == currentPage) {
                  pageLink.addClass("active");
              }

              $(".pagination .next").before(pageLink);
          }

          if (currentPage == 1) {
              $(".pagination .prev").addClass("disabled");
          } else {
              $(".pagination .prev").removeClass("disabled");
          }

          if (currentPage == totalPages) {
              $(".pagination .next").addClass("disabled");
          } else {
              $(".pagination .next").removeClass("disabled");
          }
      }

      showPage(currentPage);
      updatePagination();

      $(".pagination").on("click", ".page", function (e) {
          e.preventDefault();
          currentPage = parseInt($(this).text());
          showPage(currentPage);
          updatePagination();
      });

      $(".pagination .prev").click(function (e) {
          e.preventDefault();

          if (currentPage > 1) {
              currentPage--;
              showPage(currentPage);
              updatePagination();
          }
      });

      $(".pagination .next").click(function (e) {
          e.preventDefault();

          if (currentPage < totalPages) {
              currentPage++;
              showPage(currentPage);
              updatePagination();
          }
      });*/

</script>
</html>

